﻿@model UserData

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <label> Nimi:</label>
    <span>@Model.Name</span>
    <br/>
    <label>Ikä:</label>
    <span>@Model.Age</span>
</div>